@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#voltar {
    position: absolute;
    border: none;
    padding: 10px;
    background-color: rgb(0, 146, 0);
    color: white;
    width: 100px;
    border-radius: 5px;
    font-weight: 100;
    cursor: pointer;
    font-size: 1.15rem;
    display: flex;
    justify-content: center;
    top: 1rem;
    left: 1rem;
    transition: 0.2s;
}

#voltar:hover {
    transform: scale(1.2);
}

h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 3rem;
    margin-bottom: 25px;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;

}

textarea {
    width: 500px;
    height: 400px;
    resize: none;
    padding: 1rem;
    font-size: 1.25rem;

    border-radius: 10px;

    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.2);
    border: none;
    margin-bottom: 1.5rem;
}

textarea:focus {
    outline: none;
}

#email {
    height: 30px;
    border: 2px solid rgba(0, 0, 0, 0.144);
    border-radius: 10px;
    padding: 0.5rem;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

#button {
    border: none;
    padding: 10px;
    background-color: rgb(0, 68, 255);
    box-shadow: 5px 5px 25px rgba(0, 68, 255, 0.75);
    color: white;
    width: 100px;
    border-radius: 5px;
    font-weight: 100;
    cursor: pointer;
    font-size: 1.15rem;
    transition: 0.2s;
    margin: auto;
}

#button:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 30px rgba(0, 68, 255, 1);
}