@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: auto;
    font-size: 3rem;
}

header {
    background-color: hsl(127, 23%, 25%);
    padding: 1rem;
    color: white;
    font-size: 1.5rem;
    position: relative;
    z-index: 5;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20%;
}

nav>p>a {
    color: white;
    text-decoration: none;
}

main {
    width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 3rem;
}

main > p {
    line-height: 2rem;
    font-size: 1.5rem;
}