@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
    padding-bottom: 5rem;
}

header {
    background-color: hsl(127, 23%, 25%);
    padding: 1rem;
    color: white;
    font-size: 1.5rem;
    position: relative;
    z-index: 5;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20%;
}

nav>p>a {
    color: white;
    text-decoration: none;
}

/*
.linha {
    height: 1px;
    width: 95vw;
    background-color: rgba(0, 0, 0, 0.25);
    margin: auto;
    margin-top: 0.5rem;
}

*/

.section-1 {
    position: absolute;
    display: flex;
    justify-content: center;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
}

.foto-da-banda {
    clip-path: polygon(50% 0%, 100% 0, 100% 30%, 24% 100%, 0 100%, 0 0);
    width: 700px;

}

.foto-da-banda-ellipse {
    background-color: white;
    width: 525px;
    height: 400px;
    position: absolute;
    border-radius: 100%;

    transform: translate(525px, -50px);
}

.hero-text {
    position: relative;
    z-index: 2;
    margin-top: 1rem;
}

.hero-text>h1 {
    font-weight: 100;
    color: #4D7A52;
    font-size: 4rem;
    display: block;
    margin: auto;
    text-align: center;
}

.hero-text>p {
    text-align: center;
    font-size: 2rem;
    width: 500px;
    display: block;
    margin: auto;
    margin-top: 1rem;
    line-height: 3rem;
}

.section-2 {
    margin-top: 600px;
    display: flex;
    justify-content: center;
}

.section-2>div>img {
    border-radius: 40px;
    width: 1022px;
    height: 726px;
}

.section-2>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 800px;
}

.dark-blur-screen {
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.500);
    backdrop-filter: blur(5px);
    min-width: 1022px;
    min-height: 726px;
    position: relative;
    z-index: 5;
    margin-top: calc(-70% - 10px);
}

.video-show-text {
    background-color: black;
    width: 300px;
    height: 150px;
    bottom: 300px;
    position: relative;
    z-index: 10;
    color: white;
    width: 700px;
    padding: 1.5rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.video-show-text>h1 {
    text-align: center;
    font-weight: 100;
    font-size: 2rem;
}

.video-show-text>p {
    color: hsl(127, 23%, 50%);
    text-align: center;
    line-height: 2rem;
}

.section-3>h1 {
    display: block;
    margin: auto;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 8rem;
}

.section-3 {
    display: flex;
    flex-direction: column;
}

.section-3-wrapper {
    display: flex;
    justify-content: center;
    gap: 20rem;

}

.musica-letra {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    position: relative;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.05);
    max-width: min-content;
    padding: 5rem;
    border-radius: 15px;
    overflow-y: auto;
    height: 600px;
}

.musica-letra>h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    text-align: center;
}

.musica-letra>p {
    font-size: 2rem;
    width: 400px;
    line-height: 3rem;
}

.musica-controlador {
    display: flex;
    height: 200px;
    position: relative;
    top: 150px;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.musicDummy {
    width: 360px;
    height: 168px;
}

.musicDummy-1 {
}

.musicDummy-2 {
}

.music-dummy-3 {
}

.mainMusicDummy {
    width: 560px;
    height: 315px;
}

#desastre-mental {
    order: 1;
}

#amante-profissional {
    order: 2;
}

#erva-venenosa {
    order: 3;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.setas {
    margin: auto;
    display: flex;
    gap: 600px;
    position: relative;
    bottom: 275px;
    cursor: pointer;
}

.seta-esquerda {
    transform: rotate(180deg);
    position: relative;
    bottom: 7px;
    right: 5px;
}

.seta {
    width: min-content;
    height: min-content;
    box-shadow: none;
}

.section-4 {
    min-height: 700px;
}

.section-4>h1 {
    font-size: 5rem;
    font-weight: 100;
    text-align: center;
    margin-top: 10rem;
}


.historia-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    gap: 300px;
}

.historia-wrapper>div {
    text-align: center;
    flex-direction: column;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.historia-wrapper>div>h1 {
    font-size: 2.5rem;
    font-weight: 100;
}

.historia-wrapper>div>p {
    font-size: 1.5rem;
    width: 250px;
    line-height: 2.5rem;
}


.historia-wrapper>div>img {
    border: 3px solid #4F7D54;
    border-radius: 15px;
    min-width: 250px;
    min-height: 250px;
    max-width: 250px;
    max-height: 250px;
    box-shadow: 0px 10px 40px 0px rgba(84, 255, 104, 0.2);
}

.image-1 {
    transform: rotate(6deg);
    margin-bottom: 2rem;
}

.image-2 {
    transform: rotate(-6deg);
    margin-top: 2rem;
}

.image-3 {
    transform: rotate(7deg);
    margin-bottom: 2rem;
}